@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Open+Sans:ital,wght@1,300&display=swap');


.register {
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgb(235, 242, 243);
    top: 60px;
    right: -120px;
    width: 260px;
    height: 350px;
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.inputReg {
    border: none;
    border-bottom: solid 1px rgb(184, 191, 196);
    height: 20px;
    width: 210px;
    margin-top: 2px;
    margin-left: 2px;
}

.inputReg:focus{
    outline: none;
    background: rgb(220, 225, 226);
    transition: .5s;
}

.inputReg:hover{
    border-bottom: 1px solid rgb(46, 44, 44) ;
    background: rgb(220, 225, 226);
    transition: .5s;
}

.inputContainerReg {
    display: flex;
    margin-bottom: 20px;
    margin-left: 10px;
}

.singUpBtn{
    display: block;
    background-color: rgba(65, 119, 167, 0.75);
    border: none;
    width: 100px;
    height: 35px;
    font-family: 'Koulen', cursive;
    font-size: 1.3rem;
    color: azure;
    margin: auto;
}

.singUpBtn:hover{
    background-color: rgba(18, 58, 94, 0.75);
    transition: .2s;
    cursor: pointer;
}

.singUpBtn:active{
    background-color: rgba(18, 58, 94, 0.75);
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.goLogin{
    display: inline-block;
    color: rgba(65, 119, 167, 0.75);
    border-bottom: solid 1px rgb(184, 191, 196);
    cursor: pointer;
}

.goLogin:hover{
    color: rgba(18, 58, 94, 0.75);
}

.goLogin:active{
    color: rgba(18, 58, 94, 0.75);
    transform: scale(0.98);
}

.SuccessContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgb(235, 242, 243);
    top: 60px;
    right: -120px;
    width: 260px;
    height: 115px;
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}


.goLoginFromSucces{
    margin: 0;
    color: rgba(65, 119, 167, 0.75);
    /* border-bottom: solid 1px rgb(184, 191, 196); */
    cursor: pointer;
}

.goLoginFromSucces:hover{
    color: rgba(18, 58, 94, 0.75);
}

.goLoginFromSucces:active{
    color: rgba(18, 58, 94, 0.75);
    transform: scale(0.98);
}