.userItem{
    display: flex;
    background-color: aliceblue;
    justify-content: left;
    align-items: center ;
    margin: 2px;
}

.userItem img {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    margin-right: 30px;
    margin: 5px;
}

.userItem:hover {
    background: rgb(147, 177, 202);
    transition: .4s;
}

.userItem:active {
    background: rgb(6, 46, 78);
    transition: .4s;
}

@media (min-width: 480px) {
 
    
    
   
    
}  


