.userItem{
    display: flex;
    background-color: aliceblue;
    justify-content: space-between;
    align-items: center ;
    margin: 2px;
    width: 100%;
}

.itemImgName{
    display: flex;
    align-items: flex-start ;

}

.itemImgName h3{
    margin-top: 10px;
}

.userItem img {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    margin-right: 30px;
    margin: 5px;
}

.userItem:hover {
    background: rgb(147, 177, 202);
    transition: .4s;
}

.userItem:active {
    background: rgb(6, 46, 78);
    transition: .4s;
}

.userItemSearched{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.userItemSearched:hover {
    background: rgb(147, 177, 202);
    transition: .4s;
}

.userItemSearched_imgName {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userItemSearched_imgName img {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    margin-right: 30px;
    margin: 5px;
}

.mensagesNot{
    position: relative;
    background-color: rgb(192, 63, 63);
    color: aliceblue;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    right: px;
    border-radius: 100%;
    padding-bottom: 2px;
    right: 8px;
    top: -15px;
}

@media (min-width: 480px) {
 
    
    
   
    
}  


