.SideContainer{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
}

.userListHide{
    display: none;
}


@media (min-width: 480px) {
    .SideContainer{
        display: flex;
        flex-direction: column;
        height: 60vh;
    }
    
    .userListHide{
        display: block;
    }
}  