@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Open+Sans:ital,wght@1,300&display=swap');

.searchContainer {
    overflow: scroll;
    overflow-x: auto;
}

.searchContainer::-webkit-scrollbar {
    width: 8px;
}

.searchContainer::-webkit-scrollbar-track {
    background: rgb(236, 239, 240);
}

.searchContainer::-webkit-scrollbar-thumb {
    background-color: rgb(153, 153, 153);
    border-radius: 20px;
}



