.addContactBtn {
    display: flexbox;
    position: relative;
    top: -45px;
    left: 150px;
    background-color: rgba(65, 119, 167, 0.75);
    border: none;
    margin: 0;
    padding: 0;
    color: azure;
    width: 60px;
    height: 18px;
}

.addContactBtn:hover {
    background-color: rgba(18, 58, 94, 0.75);
    transition: .2s;
    cursor: pointer;
}

.addContactBtn:active {
    background-color: rgba(18, 58, 94, 0.75);
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    visibility: hidden;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}