.footSender {
    display: flex;
    background-color: aliceblue;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 10vh;
}

.inputContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 95%; 
}

.mesageInput {
    box-sizing: border-box;
    height: 50px;
    width: 80%;
    padding: 5px;
    border: 1px solid rgb(78, 78, 78, .30);
    border-radius: 10px;
}

.sendBtn {
    background: none;
    border: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.sendBtn:active {
    background: rgb(170, 170, 170, .50);
    border-radius: 100%;
}
@media (min-width: 480px) {
    .footSender {
        display: flex;
        background-color: aliceblue;
        justify-content: center;
        align-items: center;
        height: 8vh;
    }
    
    .footSender div {
        display: flex;
    }
    
    .mesageInput {
        box-sizing: border-box;
        height: 30px;
        width: 100vh;
        padding: 5px;
        border: 1px solid rgb(78, 78, 78, .30);
    }
    
    .mesageInput:focus {
        outline: none;
    }
    
    .sendBtn {
        width: 40px;
        height: 40px;
    }
}
