.contactContainer {
    display: flex;
    justify-content: start;
    padding-left: 15px;
}

.userContainer {
    display: flex;
    justify-content: end;
    padding-right: 15px;
}

.contactContent {
    display: flex;
    flex-direction: row ;
    background-size: contain;
    background: rgb(125, 136, 138);
    margin: .5px;
    padding: 5px;
    border-radius: 5px;
    max-width: 60%;
}

.userContent {
    display: flex;
    flex-direction: row ;
    text-align: left;
    align-items: flex-end;
    background: rgb(144, 185, 192);
    margin: .5px;
    padding: 5px;
    border-radius: 5px;
    max-width: 60%;
}

.time {
    position: relative;
    font-size: .7rem;
    margin-left: 8px;
    top: 2.5px
}

.unchecked {
    position: relative;
    font-size: .9em;
    margin-left: 2px;
    top: 5px;
    margin-bottom: 2px;
}

.checked {
    position: relative;
    color: rgb(27, 248, 248);
    font-size: .9em;
    margin-left: 2px;
    top: 5px;
    margin-bottom: 2px;
}