.msgContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: inset 0px 1px 2px -1px #888, inset 0px -2px 3px -2px #888;

}

.msgContainer ul {
    list-style: none;
    overflow: scroll;
    overflow-x: auto;
    background: rgb(255, 255, 255);
}

.msgContainer ul::-webkit-scrollbar {
    width: 8px;
}

.msgContainer ul::-webkit-scrollbar-track {
    background: rgb(236, 239, 240);
}

.msgContainer ul::-webkit-scrollbar-thumb {
    background-color: rgb(153, 153, 153);
    border-radius: 20px;
}

@media (min-width: 480px) {
    .msgContainer {
        height: 80vh;
        list-style: none;
        overflow-y: auto;
    }
}